* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
}

.cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
